<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to your Destiny.</h1>

  <h2>
    Hello, my name is Hal.
  </h2>

  <h2>
  	<%= image_tag("hal.png", alt: "Hello.") %>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>